<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-light-grey">

  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>PAKTEEMA NOPSUWANCHAI</b></h1>
    <h6>SAND</h6>
  </header>


  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    
     
      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-black">
              <img class="r" src="../../assets/img/3.jpg" width="420px" height="160px">
            <h3>EDUCATION</h3>
            <p>Srinakharinwirot University</p>
            <p>Computer Science</p>
          </div>
        </div>
      </div>

      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-black">
              <img class="r" src="../../assets/img/2.jpg" width="420px" height="160px">
            <h3>BIRTHDAY</h3>
            <p>FRIDAY</p>
            <p>FEB,16 1996</p>
          </div>
        </div>
      </div>

      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-black">
              <img class="r" src="../../assets/img/1.jpg" width="420px" height="160px">
            <h3>FAVORITE</h3>
            <p>COLOR IS BLUE</p>
            <P>SPORT IS DIVING</P>
          </div>
        </div>
      </div>

   
       
    
      
    <!-- END BLOG ENTRIES -->
    </div>



<!-- END w3-content -->
</div>



</body>
</html>
